.banner {
  display: flex;
  justify-content: center;
  padding-top: 33px;
}

.banner img {
  width: 400px;
}

.info {
  padding-top: 32px;
  padding-left: 36px;
}

.info h1 {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 39.6px */
}

.paragraph {
  padding-top: 16px;
  width: 320px;
  color: #222;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 17.6px */
}
